[submodule "Building_Machine_Learning_Pipeline_on_Startup_Acquisition_Status"]
	path = Building_Machine_Learning_Pipeline_on_Startup_Acquisition_Status
	url = https://github.com/terfaniahmedabdelnour/Building_Machine_Learning_Pipeline_on_Startup_Acquisition_Status.git
